@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/bootstrap-4.3.x/bootstrap';

@import 'base/base';
@import 'base/reset';
@import 'base/typography';

@import 'layout/about';
@import 'layout/main';
@import 'layout/header';
@import 'layout/div';
@import 'layout/footer';
@import 'layout/section';

@import 'components/buttons';

@import 'pages/div';
